{% assign formatted_price = price | money %}

{% comment %}
  Unless this store uses multiple currencies,
  if we apply a special style to cents,
  we will wrap them in a sup (superscript) element.
{% endcomment %}

{% unless shop.money_format contains 'money' or shop.money_format contains '.' %}
  {% if settings.superscript_decimals %}
    {% if shop.money_format contains '{{amount}}' or shop.money_format contains '{{ amount }}' %}
      {% if price > 0.99 %}
        {% capture formatted_price %}{{ formatted_price | replace: '.','<sup>' }}</sup>{% endcapture %}
      {% else %}
        {% capture formatted_price %}{{ formatted_price | replace: '0.','' }}<sup>¢</sup>{% endcapture %}
      {% endif %}
    {% elsif shop.money_format contains '{{amount_with_comma_separator}}' or shop.money_format contains '{{ amount_with_comma_separator }}' %}
      {% if price > 0.99 %}  
        {% capture formatted_price %}{{ formatted_price | replace: ',','<sup>' }}</sup>{% endcapture %}
        {% else %}
        {% capture formatted_price %}{{ formatted_price | replace: '0,','' }}<sup>¢</sup>{% endcapture %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endunless %}

<small aria-hidden="true">{{ formatted_price | replace: '<sup>00</sup>', '' }}</small>
<span class="visually-hidden">{{ price | money }}</span>
<span class="visually-hidden">Test: {{ price }}</span>
